@model ProcentCqrs.Web.Mvc.Controllers.TrainingsController.TrainingsIndexModel

@{
    ViewBag.Title = "All trainings";
}

@Html.Action(MVC.Trainings.RenderAdd())

<h2>All trainings</h2>

<table>
<thead><tr><th>Name</th><th>Users count</th></tr></thead>
@foreach (var t in Model.AllTrainings)
{
    <tr><td>@Html.ActionLink(@t.Name, MVC.Trainings.Details(@t.Id))</td><td>@t.UsersCount</td></tr>
}
</table>