<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @* CSS *@
    <link href="@Links.Content.Site_css" rel="stylesheet" type="text/css" />

    @* Jaavscript *@
    <script src="@Links.Scripts.jquery_1_4_4_js" type="text/javascript"></script>
    <script src="@Links.Scripts.jquery_1_4_4_js" type="text/javascript"></script>
    <script src="@Links.Scripts.jquery_unobtrusive_ajax_js" type="text/javascript"></script>
    <script src="@Links.Scripts.jquery_validate_js" type="text/javascript"></script>
    <script src="@Links.Scripts.jquery_validate_unobtrusive_js" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>

            @* removing this messes up layout *@
            <div id="logindisplay">&nbsp;</div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
                    <li>@Html.ActionLink("About", MVC.Home.About())</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
